<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Recommendation Engine</title>

  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <div class="main">
    <p class="main-heading">Book Recommendation Engine</p>

    <div class="input">
      <form method="POST">
        <input type="text" id="book_name" name="book_name" placeholder="Enter your favourite Book Name" required>
        <button type="submit">
          <img src="../static/images/search.svg">
        </button>
      </form>
    </div>
  </div>

  <div class="recommendation-engine">
    {% if recommended_books %}
    <p class="heading">Books Suggested for You:</p>
    {% for book in recommended_books %}
    <p class="books">{{ book }}</p>
    {% endfor %}
    {% endif %}
  </div>
</body>

</html>